.GameCard {
    width: 18rem;
    background-color: rgba(60, 179, 113, 0.7) !important;
    color: white;
    font-weight: bold;
}

.YourTurnGameCard {
    box-shadow: 0px 1px 16px 1px rgba(39, 161, 42, 0.88);
    -webkit-box-shadow: 0px 1px 16px 1px rgba(39, 161, 42, 0.88);
    -moz-box-shadow: 0px 1px 16px 1px rgba(39, 161, 42, 0.88);
}

.YourTurnText {
    color: darkgreen;
}