.avatar {
    width: 10rem;
}

.avatarIco {
    height: 2.75rem;
    width: 2.75rem;
    border: 0.15em solid rgb(105, 158, 177);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.avatarIcoSmall {
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 0.25rem;
}

.avatarIcoSquare {
    border-radius: 5px;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.25rem;
    border: 1px solid black;
}
